/**
 * Layout styles
 *
 * Layout style, these are used to style the site. These are modified from the
 * SilverStripe Black Candy Theme.
 *
 * @copyright Copyright 2010 Better Brief LLP
 * @author Dan Hensby <dan@betterbrief.co.uk>
 * 
 *//**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import "typography.css";

body.mceContentBody {
	min-height: 200px;
	font-size: 62.5%;
}
body.mceContentBody a.broken {
	background-color: #FF7B71;
	border: 1px red solid;
	color: #fff;
	padding: 1px;
	text-decoration: underline;
}