/**
 * Form styles
 *
 * Form styles, these are used to style the forms on the site. These are
 * modified from the SilverStripe Black Candy Theme.
 *
 * @copyright Copyright 2010 Better Brief LLP
 * @author Dan Hensby <dan@betterbrief.co.uk>
 * 
 */


/* FIELDSETS
---------------------------------------- */
fieldset {
}

/* ACTION BUTTONS
---------------------------------------- */
input.action {
}
input.action:hover,
input.action:focus {
	cursor: pointer;
}

/* FIELD FORMATING
---------------------------------------- */
form ul {
}

.middleColumn {
 	display: block;
 	margin: 15px 10px 10px 0;
	background: #E9E9E9;
	padding: 4px;
	width: 306px;
	clear: left;
}
	#Sidebar .middleColumn {
		margin: 0 0 0 8px;
		display: inline;
	}
	
	div.tab .field .middleColumn {
		clear: none !important;
 		margin: 0 !important;
		width: auto;
	}
	
	.middleColumn .middleColumn {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	
	.middleColumn .message {
		margin: 0;
	}
/* INPUT BOXS
---------------------------------------- */

input.text, textarea, select {
}

textarea {
}
input:focus span, textarea:focus {
}

/* SELECT DROPDOWN
---------------------------------------- */

select {
	width: auto;
}

/* LABELS
---------------------------------------- */
.typography label {
 	display: block;
	margin: 10px 0 -10px 0;
	color: #777;
	font-size: 1em;
}

label.right {
	display:inline;
}
/* SEARCH BOX 
---------------------------------------- */
#Search {
}
	input#Search_Form_SearchForm_Search {
	}
#Sidebar input.action {
}
