/**
 * Layout styles
 *
 * Layout style, these are used to style the site. These are modified from the
 * SilverStripe Black Candy Theme.
 *
 * @copyright Copyright 2010 Better Brief LLP
 * @author Dan Hensby <dan@betterbrief.co.uk>
 * 
 */
 
/* Misc Styles and defaults 
-------------------------------------------- */
/* resets thanks to http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* end reset */

html {
	font-family: Verdana, Lucida, sans-serif; /* should be same as typography */
	font-size: 12px;
	color: #333;
}

body {
	width: 950px;
	margin: 0 auto;
}

table {
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: bold;
}

.clear{
	clear:both;
}

/* CONTAINER
----------------------------------------- */
#Container { 
	width: 100%;
}
#Layout {
}
#Content {
}
/* HEADER
----------------------------------------- */
#Header { 
}
 	#Header h1 {
	}
	#Header p {
	}

/* MAIN NAVIGATION - TABS
----------------------------------------- */
#Navigation {
}
	#Navigation{
	}
		#Navigation li {
		}
  			#Navigation li a {
			}
				#Navigation li a {
				}
					#Navigation li a:hover {
					}
					#Navigation li a:hover {
					}
					
    			#Navigation li a.current,
	    		#Navigation li a.section,
	    		#Navigation li a.section:hover,
	    		#Navigation li a.current:hover {
				}
				#Navigation li a.current,
				#Navigation li a.section,
	    		#Navigation li a.section:hover,
				#Navigation li a.current:hover {
				}
    
/* BREADCRUMBS
-------------------------------------------- */
#Breadcrumbs {
}
	#Breadcrumbs p {
	}


/* SIDEBAR
-------------------------------------- */
#Sidebar {
}
	#Sidebar .sidebarBox {
	}
	#Sidebar ul {
	}
		#Sidebar li {
		}
	#Sidebar h3 {
	}
	
	#Sidebar .sidebarBottom {
	}
	#Sidebar a em {
	}
	#Sidebar p {
	}
	
	/* MENU2 */
    ul#Menu2 li {
    }
    	ul#Menu2 li a {
      	}
			ul#Menu2 li em {
			}
				ul#Menu2 li li em {
				}
      	/* Level 1 
      	- We use 3 elements for the nav to get 3 background images applied.
            * span - topleft rounded corner
            * em - bottomleft rounded corner
            * a - arrow on the right
            <a><span><em></em></span></a>
      	*/
      	ul#Menu2 li a:hover,
      	ul#Menu2 li a.current,
      	ul#Menu2 li a.current:hover {
      	}
	  	ul#Menu2 li a.current {
	  	}
      	ul#Menu2 li a.section,
      	ul#Menu2 li a.section:hover {
      	}
      	ul#Menu2 li a.levela:hover,
      	ul#Menu2 li a.current,
      	ul#Menu2 li a.section,
      	ul#Menu2 li a.section:hover,
      	ul#Menu2 li a.current:hover {
		}
      		ul#Menu2 li ul {
      		}
      			ul#Menu2 li ul li {
      			}
      				ul#Menu2 li ul li ul {
      				}	
      
					ul#Menu2 li li a.current,
      				ul#Menu2 li li a.section,
      				ul#Menu2 li li a.section:hover,
      				ul#Menu2 li li a.current:hover {
      				}
      					ul#Menu2 li li ul {
      					}
      					ul#Menu2 li li ul .roundWhite {
      					}
      			
			/* Sub Menu */
      		ul#Menu2 li a.levelb {
      		}
	  		ul#Menu2 li a.levelb:hover,
      		ul#Menu2 li li a.current,
      		ul#Menu2 li li a.current:hover,
      		ul#Menu2 li li a.section,
      		ul#Menu2 li li a.section:hover {
      		}
			
      		ul#Menu2 li a.levelb:hover em,
      		ul#Menu2 li li a.current em,
      		ul#Menu2 li li a.current:hover em,
      		ul#Menu2 li li a.section em,
      		ul#Menu2 li li a.section:hover em {
      		}

/* COMMENTS
---------------------------------------- */
#CommentHolder ul {
	list-style: none;
	margin: 20px 0;
}
#PageComments li {
	margin: 5px 0;
	padding: 1px;
	width: 88%;
}
	#PageComments li.odd {
		background: #E8F6FF url(../images/commentBg.png) no-repeat 1% 10%;
		padding-left: 40px;
		padding-right: 10px;
		border-bottom: 2px solid #BCE4FE;
	}
	#PageComments li.even {
		background: #fff url(../images/commentBgAlt.png) no-repeat 99% 10%;
		padding-right: 40px;
		padding-left: 10px;
	}

		#PageComments li.odd p.info {
			color: #3AA0C3;
		}

		.actionLinks li {
		   display: inline;
		   border-right: 1px solid;
		}
			.actionLinks li a {
				padding-right: 3px;
				font-size: 10px;
			}
   			.actionLinks li.last {
      			border-right: none;
   			}

.commentrss {
	background: transparent url(../images/feed-icon-14x14.png) no-repeat;
	padding-left: 20px;
	font-size: 1.1em;
	line-height: 1.6em;
}
#PageCommentsPagination p {
	text-align: center;
	font-size: 1.2em;
}
#PageComments p {
	font-size: 1em;
}
	#PageComments p.info {
		color: #999;
		margin: 0px;
		padding: 0;
		line-height: 1em;
		font-size: 0.9em;
	}

/* SEARCH RESULTS STYLES
------------------------------------------------ */
ul#SearchResults {
}
	ul#SearchResults li {
	}

/* SEARCH FORM 
-----------------------------------------------*/
html #SearchForm_SearchForm {
	float: right;
	width: 240px;
	margin: 5px;
}
html #SearchForm_SearchForm .middleColumn {
	float: left;
	width: 164px;
	margin: 0 5px 0 0;
	padding: 2px;
	background-color: #51a9df;
	
}
	html #SearchForm_SearchForm .middleColumn input.text {
		width: 160px;
		border: none;
		color: #666;
	}
html #SearchForm_SearchForm #SearchForm_SearchForm_action_results {
	float: left;
	margin-top: 2px;
}

/* MESSAGEBOXS
--------------------------------------------- */
.message {
	margin: 15px;
	padding: 5px;
	width: 92%;
	color: #979908;
	border: 4px solid #F7F8B4;
	background: #FFFFEA;
}
span.middleColumn .message {
	margin: 4px 0 0 3px;
}
.required {
	margin: 4px 0 0 3px;
	padding: 5px;
	width: 92%;
	color: #DC1313;
	border: 4px solid #FF7373;
	background: #FED0D0;
}



p#Remember label {
	margin: -24px 0 0 20px;
	text-align: left;
}
.entry {
	border-bottom: 1px solid #eee;
}

.typography #Content p.authorDate {
	color: #444;
	margin-top: -15px;
}

/* UNSUBSCRIBE NEWSLETTER
------------------------------------------------ */
#Unsubscribe_MailingListForm_MailingListForm{
	min-height:100px;
}

	#Unsubscribe_MailingListForm_MailingListForm p{
		margin:0 !important;
		padding:10px;
	}
		#Unsubscribe_MailingListForm_MailingListForm p label{
			display: inline;
		}
	#Unsubscribe_MailingListForm_MailingListForm label{
		margin:0;
	}


/* FOOTER
----------------------------------------------- */

#Footer {
}
  	#Footer p {
	}
  		#Footer a {
		}
			#Footer a:hover {
			}